<div id="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <nav class="search-title-filter">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" ng-model="vm.searchQuery" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Производитель
                    </div>
                    <div class="collapsible-body">
                        <p>
                            <select class="" ng-model="vm.selectedBrandId" material-select watch required>
                                <option ng-repeat="brand in vm.brandsArray" ng-value="brand.$id">{{brand.name}}</option>
                            </select>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Модель
                    </div>
                    <div class="collapsible-body">
                        <p>
                            <select class="" ng-model="vm.selectedModelId" material-select watch required>
                                <option ng-repeat="carModel in vm.modelsArray" ng-value="carModel.$id">{{carModel.name}}
                                </option>
                            </select>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Цена
                    </div>
                    <div class="collapsible-body">
                        <div class="input-field">
                            <input id="price" type="number" min="0" max="200000" class="validate" ng-model="vm.carPrice"
                                   required>
                            <label for="price">Цена в BYN</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Год выпуска
                    </div>
                    <div class="collapsible-body">
                        <div class="input-field">
                            <input id="year" type="number" min="1950" max="2017" class="validate" ng-model="vm.year" required>
                            <label for="year">Год производства</label>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Пробег
                    </div>
                    <div class="input-field">
                        <input id="mileage" type="number" min="0" max="999999" class="validate" ng-model="vm.mileage" required>
                        <label for="mileage">Пробег</label>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Тип топлива
                    </div>
                    <div class="collapsible-body">
                        <p>
                            <select class="" ng-model="vm.selectedFuelId" material-select watch>
                                <option ng-repeat="fuel in vm.fuelsArray" ng-value="fuel.$id">{{fuel.name}}</option>
                            </select>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Объём двигателя
                    </div>
                    <div class="input-field">
                        <input id="capacity" type="number" min="1" max="6" class="validate" ng-model="vm.capacity" step=0.01 required>
                        <label for="capacity">Обьём двигателя</label>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>
                        Тип коробки передач
                    </div>
                    <div class="collapsible-body">
                        <p>
                            <select class="" ng-model="vm.selectedTransmissionsId" material-select watch>
                                <option ng-repeat="transmission in vm.transmissionsArray" ng-value="transmission.$id">{{transmission.name}}
                                </option>
                            </select>
                        </p>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col s12 m12 l9">
            <div id="card-container" class="row" ng-hide="vm.isLoading">
                <div class="col s4" ng-repeat="car in vm.carsArray | orderBy: '-views'">
                    <h5 class="light">{{car.brand + ' ' + car.model}}</h5>
                    <div class="card small hoverable">
                        <div class="card-image">
                            <img src="content/img/48.jpg">
                        </div>
                        <div class="card-content">
                            <p>Просмотров: {{car.views}}</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light"
                               ui-sref="car({id: car.$id})">Открыть</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="vm.isLoading">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

    </div>
</div>